body{
	background:#2aaaf3 !important;
	font:normal 13px sansregular;
}
@font-face {
	font-family: 'sansbold';
	src: url('../fonts/pt-sans.bold-webfont.eot');
	src: url('../fonts/pt-sans.bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pt-sans.bold-webfont.woff') format('woff'),
	url('../fonts/pt-sans.bold-webfont.ttf') format('truetype'),
	url('../fonts/pt-sans.bold-webfont.svg#pt_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'sansregular';
	src: url('../fonts/pt-sans.regular-webfont.eot');
	src: url('../fonts/pt-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/pt-sans.regular-webfont.woff') format('woff'),
	url('../fonts/pt-sans.regular-webfont.ttf') format('truetype'),
	url('../fonts/pt-sans.regular-webfont.svg#pt_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
a:focus{
	outline:none;
}
.login-panel{
	width:420px;
	margin:40px auto 0;
}
.header h1{
	margin:0 0 40px;
	text-align:center;
}
.input{
	margin-bottom:10px;
}
.input input{
	width:100%;
	height:50px;
	color:#584944;
	font:normal 16px arial;
	line-height:50px;
	border:#ccc 1px solid;
}
.input input::placeholder{color:#584944;opacity:1;font:normal 16px arial;line-height:50px;}
.input input::-moz-placeholder{color:#584944;opacity:1;font:normal 16px arial;line-height:50px;}
.input input:-ms-input-placeholder{color:#584944;opacity:1;font:normal 16px arial;line-height:50px;}
.input input::-webkit-input-placeholder{color:#584944;opacity:1;font:normal 16px arial;line-height:50px;}
.login-btn {
	padding-top:5px;
}
.login-btn input,.login-btn button{
	background:#161443;
	border:#0e022d 1px solid;
	color:#fff;
	width:100%;
	height:50px;
	font:normal 16px arial;
	line-height:50px;
	text-align:center;
	border:none;
}
img{
	max-width:100%;
}
.menu-panel{
	padding:20px 0 0;
}
.menu-list{
	margin:0;
	padding:0;
}
.menu-list li{
	list-style:none;
}
.menu-list li a{
	display:block;
	background:#3fbaf9;
	border:#95d5fa 5px solid;
	border-radius:8px;
	text-align:center;
	padding:20px 20px 10px;
}
.menu-list li a:hover,.menu-list li a:focus{
	text-decoration:none;
	
}	
.menu-list li a:hover span{
	color:#fff;
}
.menu-list li a span{
	display:block;
	color:#a5dffd;
	font:normal 40px sansbold;
	text-transform:uppercase;
}
.menu-img{
	min-height:245px;
}
.mainmenu-list{
	padding:0;
	margin:0;
}
.mainmenu-list li{
	list-style:none;
	padding:5px;
}
.mainmenu-list li a{
	display:block;
	color:#fff;
	text-decoration:none;
	font:normal 18px sansregular;
	background:#161443;
	border:#140431 1px solid;
	line-height:40px;
	padding:0 0 0 15px;
	text-align:center;
}
.mainmenu-list li a:hover{
	background:#292759;
}
.info-icon{
	background:url(../images/info.jpg) no-repeat;
	width:69px;
	height:69px;
	position:absolute;
	top:20px;
	left:20px;
	text-indent:-9999px;
}
.innerbg{
	background:#bee6fb;
}
.top-header{
	background:#28abf1;
	height:55px;	
}
.title-text{
	text-align:center;	 
	color:#b8dcf0;
	font:normal 30px sansregular;
}
.title-text span{
	color:#fff;
}
.title-text{
	padding:8px 0 0;
}
.inner-logo{
	float:right;
	padding-top:15px;
	text-align:right;
}
.inner-logo img{
	height:27px;
}
.humberhan-icon{
	padding-right:0;
	padding-top:9px;
}
#compare-submit{
	background:url(../images/arrows.png) no-repeat;
	width:38px;
	height:30px;
	border:none;
}
.humberhan-icon span{
	color:#a9ddf9;
	font:normal 15px sansregular;
	line-height:19px;
	display:inline-block;
	padding-left:10px;
	width:70%;	
}
.humberhan-icon span.updateddates{
	padding-left:17px;
}
.humberhan-icon a.humber-icon{
	float:left;
}
.humberhan-icon a.humber-icon img{
	width:45px;
}
.optional-panel{
	height:55px;
	background:#2297da;
	text-align:center;
}
.optional-panel .radio{
	display:inline-block;
	font-size:20px;
	color:#7ac1e9;
	line-height:32px;
}
.optional-panel #radiodiv2.radio label{
	padding:0 0 0 10px;
	line-height:17px;
}
.optional-panel .radio label.nolabelbg::before{
	content:'';
	border:none;
	background:none;
}
.optional-panel .radio label.nolabelbg::after{
	content:'';
	border:none;
	background:none;
}
.optional-panel .radio label.nolabelbg{
	padding:0 26px 0 0;
	line-height:16px;
	
}
.optional-panel .radio.entry-level span{
	padding:0 30px 0 0;
}
.optional-panel .radio.active{
	color:#fff;
}
.main{
	padding-top:15px;	
}
.slider-panel{
	position:relative;	
	float:left;
	width:100%;
}
.sliders{
	position:absolute;
	left:15%;
	width:100%;
	padding:0 15px;
}
#slider-panel2{		
	left:-100%;		
}
.compared-left{
	padding:0 15px 0 0;
}
.comparision-list{
	padding:0 15px 0 0;
}
.comparision-inner{
	background:#fff;
	min-height: 360px;
	border-radius:8px;
	text-align:center;
	padding:5px;
	display:inline-block;
	width:100%;
}
.comparision-inner h2{
	color:#2297da;
	font:normal 15px sansbold;
	margin:0;
	padding:2px 0;
}
.comparision-inner .checkbox{
	margin:0 5px 0 0;
	float:right;
	padding:0;
}
.comparision-inner ul{
	margin:0;
	padding:0;
}
.comparision-inner ul li{
	color:#000;
	font:normal 18px sansregular;
	word-wrap:break-word;
	margin:0;
	padding:0 0 2px;
	line-height:18px;
}
.comparision-inner ul li.text-right{
	text-align:right;
	padding-right:20px;
}
.comparision-inner ul li.blue-color{
	color:#69c3f7;
}
.comparision-inner ul li.green-color{
	color:#48db6d;
}
.comparision-inner ul li.red-color{
	color:#ff2323;
}
.comapred-logo{
	padding:0;
	line-height:36px;
}
.comapred-img{
	width:auto;
	height:82px;
}
.compared-right{
	padding-left:0;
}
.compared-checkbox{
	border-radius:8px;
	background:#55bdf4;
	padding:10px 0;
	text-align:center;
}
.compared-checkbox .checkbox{
	float:left;
	margin:0;
}
.compared-checkbox label::before {
	background:#aadefa;
	border-color:#aadefa;
}
.compared-checkbox img{
	float:left;
	margin:0 4px 0 10px;
}

.compared-checkbox input[type="submit"]{
	float:left;
	margin:0 4px 0 10px;
}

input[type="file"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus{
	outline:none!important;
	outline-offset:0;
}
.compared-inner{
	width:107px;
	margin:0 auto;
}
.reload-img{
	background:#91d4f8;
	border-radius:8px;
	padding:5px 0;
	text-align:center;
	margin:10px 0 15px;
}
.reload-img img{
	display:block;
	margin:0 auto;
	height:40px;
}
.comapred-logo img{
	max-height:21px;
	width: 65%;
}
.compared-modal{
	margin:0;
	padding:0;
	text-align:right;
}
.compared-modal li a{
	color:#fff;
	font:normal 18px sansregular;
}
.compared-modal li {
	line-height:23px;
}
.compared-modal li.active a{
	font-family: 'sansbold';
}
.delta-panel{
	background:#fff;
	min-height:100px;
	border-radius:8px;
	border:#4fe333 5px solid;
	padding:5px;
	margin-bottom:15px;
}
.delta-left{
	padding:0 5px 0 0;
}
.delta-left ul li{
	padding:0;
	color:#5f737d;
	font:normal 18px sansregular;
	line-height:25px;
}
.delta-right{
	padding:0 0 0 5px;
}
.delta-left ul li.delta-head{
	text-align:center;
	color:#4fe333;
	font:normal 20px sansbold;
	text-transform:uppercase;
}
.delta-head img{
	vertical-align:middle;
}
.delta-left ul li.green-txt,.delta-left ul li span.green-txt{
	color:#4fe333;
}
.delta-right{
	text-align:center;
}
.delta-right h3{
	color:#195ea9;
	font:normal 17px sansbold;
	line-height:20px;
	min-height:45px;
}
.delta-right .comapred-img{
	margin:0 auto 0px;
}
.delta-right input{
	background:#55bdf4;
	font:normal 20px sansregular;
	color:#fff;
	border:none;
	padding:12px 0;
	border-radius:10px;
	width:100%;
}
.red-box{
	margin:0;
	border-color:#f53e28;
}
.red-box .delta-left ul li.green-txt,.red-box .delta-left ul li span.green-txt,.red-box .delta-left ul li.delta-head{
	color:#f53e28;
}
.min-panel{
	height:40px;
}
.chooose-page{
	padding-left:15px;
	padding-right:15px;
}
.chooose-page .compared-list,.chooose-page .compared-right{
	padding:0;
}
.chooose-page .compared-right .comparision-list{
	padding:0 0 0 15px;
}
#warning-message {display: none;}
.logout-link{
	float:right;
	font-weight:bold;
	padding:5px 20px 0 0;
}
.logout-link a{
	color:#fff;
}
.comparision-inner ul li.system-value{
	/*padding-bottom:20px;*/
	padding-top:3px;
	font-size:16px;
}
.comparision-inner ul li.listlabel,.comparision-inner ul li.listvalue{	
	font-size:14px;
	line-height:20px;
}
.comparision-inner ul li.listlabel{
	text-align:right;
	padding-right:3px;
	color:#818181;	
}
.comparision-inner ul li a{
	color:#2297da;
}
.comparision-inner ul li.listvalue{
	text-align:left;
	padding-left:3px;	
}
.compare-overflow{
	white-space: nowrap;
	/*padding-left:5px;*/
	width:2500px;
	
}
.chooose-page .compared-right .compare-overflow .comparision-list{
	width:205px;
	/*float:none;
	display:inline-block;*/
	padding-left:10px;
}	
.compare-outer{
	overflow:auto;
	margin:0 0 20px 0;
	white-space: nowrap;
}
.compare-outer .comparision-inner{	
	white-space:initial
}
body{
	overflow-x:hidden;
}
.menu-list{
	width:700px;
	margin:0 auto;
}
.menu-list li{
	width:350px;
}
.menu-panel .header h1 img{
	margin-right:-100px;
}
.compare-productleft{
	padding:0;
}
.compared-modal li{
	text-align:right;
}


/*desktopend*/
@media(max-width:991px){
	.menu-img{
		min-height:215px;
	}
	.menu-list{
		width:600px;
	}
	.menu-list li{
		width:300px;
	}
	.menu-list li a span{
		font-size:36px;
	}
	}/*991end*/
	@media(max-width:767px){
		.header h1 img{		
			height:auto;
		}
		.menu-img{
			min-height:100px;
		}
		.menu-img > img{
			height:150px;
		}
		.menu-list li a span{
			font-size:25px;
		}
		.humberhan-icon a.humber-icon{
			width:42px;
			margin-top:4px;
		}
		.humberhan-icon span{
			font-size:15px;
			line-height:20px;
		}
		.title-text{
			font-size:20px;
			padding-top:13px;
		}
		.inner-logo{
			padding:30px 0 0;
		}
		.top-header{
			padding-right:0px;
		}
		.comparision-list,.compared-list,.compared-right{
			padding:0 10px 0 0;
		}
		.compared-right{
			padding-right:0;
		}
		.main {
			padding:30px 10px;
		}
		.compared-modal{
			text-align:left;
			padding-top:5px;
		}
		.compared-modal li{
			line-height:20px;
		}
		.compared-list,.comparision-list{
			margin-bottom:20px;
		}
		.chooose-page .compared-right .comparision-list{
			padding:0 0 0 10px;
		}
		.comparision-inner .checkbox{
			position:absolute;
			right:10px;
			margin:0;
		}
		.chooose-page .comparision-inner .checkbox{
			right:5px;
		}
		.comparision-inner ul li,.compared-modal li a{
			font-size:16px;
		}
		.comparision-inner ul li{
			line-height:20px;
		}
		.comparision-inner h2{
			font-size:13px;
		}
		.optional-panel .radio{
			font-size:14px;
		}
		.checkbox input[type="checkbox"]{
			width:20px;
			height:18px;
		}
		.checkbox label::before{
			border-width:3px;
		}
		.checkbox label::before,.checkbox label::after{
			width:20px;
			height:20px;
		}
		.checkbox label::after{
			font-size:14px;
			top:1px;
		}
		.comapred-logo{
			line-height:20px;
		}
		.compared-checkbox{
			text-align:center;
		}
		.compared-checkbox img{
			width:25px;
			margin:0;		
		}
		.compared-checkbox input[type="submit"]{
			border: 0;
			background:url(/frontend/images/arrows.png);
			background-repeat: round;
			width:25px;
			margin:0;		
		}
		.compared-checkbox .checkbox{
			margin-left:7px;		
		}
		.compared-inner{
			width:90px;
		}
		.reload-img img{
			width:30px;
			height:auto;
		}
		.sliders{
			padding:0 0;
		}
		.main{
			padding-top:10px;
		}
		.inner-logo{
			padding-top:16px;
		}
		.delta-panel{
			min-height:218px;
		}
		.reload-img{
			padding:5px 0;
		}
		.delta-left ul li{
			font-size:13px;
		}
		.delta-right h3{
			font-size:14px;
		}
		.delta-right input{
			font-size:17px;
			padding:7px 0;
		}
		.optional-panel{
			height:45px;
		}
		body{
			overflow-x:hidden;
		}
		.inner-logo img{
			height:20px;
			margin: 3px 6px;
		}
		.compare-overflow{
			float:left;		
		}
		.menu-list{
			width:500px;
		}
		.menu-panel .header h1{
			margin-bottom:20px;
		}
		.menu-panel .header h1 img{
			width:210px;
		}
		.menu-list li{
			width:250px;
		}
		.comparision-inner ul li.listlabel, .comparision-inner ul li.listvalue{
			font-size:11px;
		}
		.compare-overflow .comparision-inner{
			padding:5px 0;
		}
		.chooose-page .compared-right .compare-overflow .comparision-list	{
			width:135px;
		}
		.comparision-inner ul li.system-value{
			font-size:13px;
			padding-top:0;
			padding-bottom:0;
		}
		.optional-panel .radio{
			margin-top:6px;
			margin-bottom:0;
		}
		.humberhan-icon span{
			font-size:13px;
		}
		#compare-submit{
			width:20px;
			height:20px;
			background-size:100%;
		}
		.humberhan-icon{
			padding-top:7px;
		}
		}/*767end*/
		@media(max-width:520px){
			.menu-panel .header h1 img{
				width:200px;
			}
			.menu-list{
				width:auto;
			}
			.menu-list li{
				width:50%;
			}
		}
		@media(max-width:480px){
			.login-panel{
				width:auto;
				padding:0 20px;
				margin-top:25px;
			}
			.header h1{
				margin-bottom:20px;
			}
			.input input{
				height:40px;
				line-height:40px;
			}
			.input input::placeholder{line-height:40px;}
			.input input::-moz-placeholder{line-height:40px;}
			.input input:-ms-input-placeholder{line-height:40px;}
			.input input::-webkit-input-placeholder{line-height:40px;}
			.login-btn input,.login-btn button{
				height:40px;
				line-height:40px;
			}
			.info-icon{
				width:40px;
				height:40px;
				background-size:100%;
			}
			.delta-left ul li{
				font-size:11px;
			}
			.delta-right input{
				font-size:14px;
				padding:7px 0;
			}
		}
		@media(max-width:420px){
			.optional-panel .radio span{
				display:none;
			}
			.compared-left{
				width:100%;
			}
			.chooose-page .compared-right .comparision-list{
				padding:0;
				width:100%;
			}
			.compared-right{
				width:100%;
			}
			.comapred-logo{
				width:100%;
			}
			.inner-logo{
				padding-top:25px;
			}
		}
		@media(max-width:460px){
			.menu-img > img{
				height:115px;
			}
			.menu-list li a span{
				font-size:18px;
			}
		}

		@media(max-width:360px){
			.menu-list li a span{
				font-size:13px;
			}
			.menu-img > img{
				height:90px;
			}
			.mainmenu-list li a{
				font-size:15px;
			}
		}


		/*iphone MSG*/
		@media only screen and (orientation:landscape){
			#warning-message { display:none; }   
		}
		@media only screen and (orientation:portrait){       
			#warning-message { 
				display: block;
				text-align:center;
			}
			#warning-message img{
				max-width:100%;
			}
			#mobile-landscape{display:none;}
			body.innerbg{
				background:#2aaaf3;
			}
		}	



		/* clearfix */
		.clearfix:after {
			content: ".";
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		} 
		.clearfix {
			
		} 
		html[xmlns] .clearfix {
			display: block;
		} 
		* html .clearfix {
			height: 1%;
		}

		/*ajax loader*/
		.ajax-loader {
			visibility: hidden;
			background-color: rgba(255,255,255,0.7);
			position: absolute;
			z-index: +100 !important;
			width: 100%;
			height:100%;
		}

		.ajax-loader img {
			position: relative;
			top: -15px;
			left: 45%;
			width: 50px;
		}

		/*Survey Modal button*/
		.surveyButton {
			padding: 12px 55px;
		}

		/*Modal Error message*/
		.errorMessage{
			color: red;
			margin-bottom: 10px;
		}

		/*Scorecard Frontend side*/
		.scorecardfront{
			margin-top: 100px;
		}

		.scorecardfront select{
			width: 250px;
			border-radius: 5px;
			height: 30px;
		}
		.scorecarddiv{
			margin: 20px;
		}